<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>DinoLingo</string>
	<key>CFBundleIdentifier</key>
	<string>com.dinolingo.DinoLingo</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>DinoLingo</string>
	<key>NSPhotoLibraryAddUsageDescription </key>
	<string>Need permission to save files.</string>
	<key>NSPhotoLibraryUsageDescription </key>
	<string>Need permission to access files.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Arial_Rounded_MT_Bold.ttf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
		<string>de</string>
		<string>el</string>
		<string>es</string>
		<string>fr</string>
		<string>id</string>
		<string>it</string>
		<string>ja</string>
		<string>ko</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>ru</string>
		<string>sv</string>
		<string>tr</string>
		<string>uk</string>
		<string>zh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
